# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build
next-env.d.ts

# misc
.DS_Store
*.pem
*.log
.install.log
.dev.log

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# gauntlet artifacts
/gauntlet/
